Hi <%= name %>, <br /><br />

You requested a password reset. Please visit this link to enter your new password: <br />
<a href='<%= resetPasswordUrl %>'><%= resetPasswordUrl %></a><br /><br />
Hope to see you sharing soon!<br /><br />

Love, <br/>
Truvi <br/>

