Welcome to Truvi! <br /><br />

We're a bunch of people who love sharing and we want a lot more people to love it too. We're really pumped you decided to join us! <br /><br />

Truvi is a free URL shortening service with a twist.. you get paid to share your links on the Internet and donate a percentage of what you make to your favorite causes. <br /><br />

Please click here to verify your email <a href='<%= verificationUrl %>'><%= verificationUrl %></a> <br /><br/>

- The Truvi Team<br />



